[submodule "dokidoki"]
	path = dokidoki
	url = git://github.com/henkboom/pax-britannica.git
[submodule "dokidoki-support"]
	path = dokidoki-support
	url = git://github.com/henkboom/pax-britannica.git
